<%- include('partials/header') %>

<div class="container-fluid flex-wrapper-main">
  <div class="about-section">

    <h1>Who we are</h1>
    <p>DeGen University is the number one place for new and soon to be DeGens to learn the basics of everything they should know to have a nice journey on the jungle!
    <p>Created by BowTiedLeviathan, your friendly jungle professor.</p>
    <p>At the end of each of our classes you wild find a link (affiliate if possible) to our amazing jungle creators!</p>
    <p>You will find every jungle product currently on sale and our substacks in the "products" tab!</p>
    <p>If you're a new degen and have something amazing to sell, contact our staff and we will gladly put your product!</p>
  </div>
</div>

<%- include('partials/footer') %>
